<ion-view view-title="{{item.topicTitle}} . {{item.subTopicTitle}}" ng-init="init()">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="item-cover"
                style="min-height:300px;background-image: url('{{item.largeThumbnail}}');background-size:cover">
                &nbsp;
            <div class="content">
                <div class="avatar" ng-if="item.smallThumbnail"
                 style="background-image: url('{{item.smallThumbnail}}');"></div>
                <div class="padding" style="margin-top:50%;background-color:rgba(194,91,86,0.5);color:white">
                    <h3 class="farsi" style="color:white">{{item.headline}}</h3>
                </div>
            </div>
        </div>
        <div class="farsi" >
        <div class="farsi padding">
            <i class="icon ion-clock"></i> {{item.publishDateFaLong}}
        </div>
        <div class="padding farsi" style="background-color:#96C0CE;border:1px solid #717171">
            <h4 class="">{{item.summary}}</h4>
        </div>
        <div class="farsi padding">
            <p  class="animate-fade-slide-in-right" style="font-size:14px;">{{item.body}}</p>
        </div>
        </div>
        <hr/>
        <h4 ng-if="item.relatedNewsList" class="farsi content padding double-padding-x">اخبار مرتبط</h4>
            <a ng-repeat="related in item.relatedNewsList"
            ui-sref="tab.item({'itemId':related.relatedCode})"
                style="padding:10px;"
                class="farsi item">
                <h2>
                <i class="icon ion-link"></i>
                    {{related.relatedHeadline}}</h2>
            </a>
        <br/>

    </ion-content>
</ion-view>
