<ion-view view-title="صفحه نخست" style="background-color:#fff;padding:0px;margin-top:-10px;" class="">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <ion-refresher
          pulling-text="به سمت پایین بکشید و رها کنید ..."
          on-refresh="fetchPrimaryNews()">
        </ion-refresher>


<div class="main">
    <div class=".cover" ng-if="cover"

    ui-sref="tab.item({'itemId':cover.id})"
    >
    <div class="mainHeaderWrapper"
        style="background-image: url({{cover.largeThumbnail}});background-size:cover;color:white;">

        <!--   MAIN COVER Info here -->
        <br/>
            <h3 class="farsi padding"
                style="color:white;font-weight:bold;text-shadow:0px 1px 0px #000;">

                {{cover.headline}}</h3>






        <!--   MAIN COVER Info here -->
        <img ng-src="{{cover.largeThumbnail}}" />





    </div>
    <div class="coverpage-text"></div>
        <h4 class="padding farsi" style="font-weight:bold;color:#aabbff">

        <span class="badge badge-calm">1</span>
            {{cover.subTopicTitle}}</h4>
    <p class="farsi padding" style="font-weight:bold;color:black">
        {{cover.summary}}
    </p>
    <div class="farsi padding" style="margin-top:-20px;">
    <a style="color:grey;"><i class="icon ion-clock"></i> {{prettyDate(cover.publishDateLong)}} پیش</a>

</div>
</div>

    <div
    ui-sref="tab.item({'itemId':item.id})"
    style="background-color:#f8f8f8" ng-repeat="item in imagedNews.slice(1,10) track by $index">
    <hr/>
    <div class="padding farsi">
        <h4 class="padding farsi" style="font-weight:bold;color:#aabbff">
        <span class="badge badge-calm">{{$index+2}}</span>
            {{item.subTopicTitle}}</h4>
            <h6 style="padding-right:10px;margin-top:-10px;">{{item.kicker}}</h6>
            <p class="farsi padding" style="font-weight:bold;color:black;margin-top:-15px;">
                {{item.headline}}
            </p>
    </div>
    </div>

</div>


    </ion-content>
</ion-view>
