
<ion-view view-title="{{topic}}">
    <ion-content ng-class="{expanded:isExpanded}">
        <ion-refresher
          pulling-text="به سمت پایین بکشید و رها کنید ..."
          on-refresh="fetchLatestNews()">
        </ion-refresher>
            <br/>
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <a  ng-if="topicId!=11" href="#/tab/item/{{item.id}}" ng-repeat="item in news track by $index"
                class="item item-avatar">
                    <img ng-src="{{item.smallThumbnail || 'img/news-icon.png'}}">
                    <h2 class="farsi">{{item.headline}}</h2>
                    <h6 class="farsi">{{item.summary}}</h6>
                </a>
                <a  ng-if="topicId==11" href="#/tab/item/{{item.id}}" ng-repeat="item in news track by $index"
                class="item col-100">
                    <img ng-src="{{item.largeThumbnail}}" style="width:100%;">
                    <h4 class="farsi">{{item.headline}}</h4>
                </a>

            </div>
        </div>
    </ion-content>
</ion-view>
