<ion-view view-title="تنظیمات">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableAutoFetch">
        به روز رسانی خودکار
    </ion-toggle>
    <hr/ style="text-align:center;margin-top:200px;">
    <div class="padding">
        <ul>
        <li> Copyright: 2015 - RashaVas Telecom </li>
        <li>
            Author: <a href="tel:98(912)022-8207">Farsheed Ashouri</a>
        </li>
        <li>
            version: 0.0.2
        </li>
    </ul>
</div>
<hr/>
<h1 align="center">
    <a href="tel:98(912)178-2289" class="button button-calm">
        ًRasha|VAS
        </a>
</h1>
    </ion-list>


  </ion-content>
</ion-view>
