<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="پیشخوان" icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/dash">
    <ion-nav-view  animation="slide-left-right" name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="خبر ها" on-double-tap="toggleRight()"
  icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/timeline">
    <ion-nav-view animation="slide-left-right" name="tab-timeline"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="تنظیمات" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view animation="slide-left-right" name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
