<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!--
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
-->

    <title>Mehrnews</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <!--
    <link href="lib/waves/dist/waves.min.css" rel="stylesheet">
    -->
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- vendor libs -->
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fa.js"></script>
    <script src="js/vendor/angular-sanitize.min.js"></script>
    <script src="lib/ng-cordova.min.js"></script>
    <script src="lib/ng-cordova-mocks.min.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <style>
    [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
    </style>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <!--
    <ion-nav-bar animation="nav-title-slide-ios7"
    type="bar-positive"
    left-buttons="leftButtons"
    back-button-type="button-icon"
    back-button-icon="ion-arrow-left-c"></ion-nav-bar>
              <ion-nav-view name="menu-content"></ion-nav-view>
    -->
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-side-menus ng-cloak>

      <!-- Left menu -->
      <ion-side-menu side="left" ng-controller="RightMenuCtrl">
          <header class="bar bar-header bar-positive">
              <h1 class="title">MehrNews</h1>
          </header>
          <ion-content class="has-header">
              <div class="list">
                  <a class="item farsi" menu-close ui-sref="tab.dash">
                      تیتر اخبار
                  </a>
                  <a class="item farsi" ng-repeat="topic in topics"
                    nav-clear menu-close ui-sref="tab.topic({'topicId':sections[topic]})">
                    {{topic}}
                    <i class="icon ion-tag"></i>
                </a>


              </div>
          </ion-content>
      </ion-side-menu>

      <ion-side-menu-content ng-controller="AppCtrl">
          <ion-nav-view></ion-nav-view>

      <!-- Main content, usually <ion-nav-view> -->
      </ion-side-menu-content>

      <!-- Right menu -->
      <!--
      <ion-side-menu side="right">
      </ion-side-menu>
    -->

    </ion-side-menus>



    <script>
    //Waves.init();

    </script>


  </body>
</html>
