/* Empty. Add your own CSS if you like */
@font-face
{
        font-family:"Terafik";src:url('../fonts/terafik.eot');
        src:url('../fonts/terafik.eot?#iefix') format('embedded-opentype'),
        url('../fonts/terafik.svg#Terafik') format('svg'),
        /*url('../fonts/terafik.woff#Terafik') format('woff'), */
        url('../fonts/terafik.ttf') format('truetype')
}

@font-face
{
		font-family:'Droid Arabic Naskh';
		font-style:normal;
		font-weight:100;
		src:url(../fonts/DroidNaskh-Regular.eot);
		src:url(../fonts/DroidNaskh-Regular-ie.eot) format('embedded-opentype'),url(../fonts/DroidNaskh-Regular.woff2) format('x-woff2'),url(../fonts/DroidNaskh-Regular.woff) format('woff'),url(../fonts/DroidNaskh-Regular.ttf) format('truetype')
}

.farsi{
	font-family: "Terafik";
	direction:rtl;
	text-align:right;
}

.page-background {
	background-color: #f8f8f8;
}

.bar {
}

.bar.bar-stable {
    border-color: #b2b2b2;

    background-color: #eee;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    color: #444;
}

.title-image{
	opacity:0.9;
}

.item-date{
	font-size: 10px;
	background-color: #ccc;
	padding:4px;
	color:white;
	border-radius: 2px;
}
.newsitem-headline{
	text-align:center;padding:20px;color:white;background-color:rgba(0,0,0,0.5);
}

.row{
	padding:0px;
	margin:0px;
}

a{
	text-decoration: none;
}

.stable-bg{
	background-color: #fff;
}

.loading-container .loading {
    background-color: rgba(0,0,0,0.1);
    color: black;

    width: 100% !important;
    height: 85% !important;
	padding:30%;
    border-width: 0px !important;
    border-color: black !important;
    border-style: solid !important;

}

.mainHeaderWrapper {
    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    float: left;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.mainHeaderWrapper img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}


.coverpage-text {
    -webkit-shape-outside: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    float: right;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}

.main{
	color:#333;
}
